@import "../bower_components/bootstrap/less/bootstrap.less";
//@import "../bower_components/bootstrap/less/theme.less";
@import "../bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "../bower_components/font-awesome/fonts";
@import "../bower_components/nvd3/nv.d3.css";

/* Directive LESS */
@import "../directive/brand/brand.less";
@import "../directive/nav/nav.less";
/* Add Directive LESS Above */

/* Partial LESS */
@import "../partial/test/test.less";
@import "../partial/header/header.less";
@import "../partial/footer/footer.less";
@import "../partial/dashboard/dashboard.less";
@import "../partial/shop/shop.less";
@import "../partial/resources/resources.less";
/* Add Partial LESS Above */

/* Required for Angular UI Bootstrap */
.nav, .pagination, .carousel a { cursor: pointer; }

/* Personal preference for BS modal.  The LESS below makes the backdrop white and
   causes the modal to fade in rather than slide in. */
//@modal-backdrop-bg: white;
//.modal {
//	&.fade {
//		.transition(opacity .3s);
//	}
//	&.fade .modal-dialog {
//		.translate(0,0);
//	}
//}

.view-box {
  position: fixed;
  width: 94%;
  height: 100%;
  overflow: scroll;
  margin-bottom: 4em;
}

.slide-left,
.slide-right {
  position: absolute;

}

.slide-left.ng-enter {
  -webkit-transition: -webkit-transform 1.4s ease-in-out;
  -moz-transition: -moz-transform 1.4s ease-in-out;
  -o-transition: -o-transform 1.4s ease-in-out;
  transition: transform 1.4s ease-in-out;
  -webkit-transform: translateX(110%) translateZ(0);
  -moz-transform: translateX(110%) translateZ(0);
  -ms-transform: translateX(110%) translateZ(0);
  -o-transform: translateX(110%) translateZ(0);
  transform: translateX(110%) translateZ(0);
}

.slide-left.ng-enter.ng-enter-active {
  -webkit-transform: translateX(0%) translateZ(0);
  -moz-transform: translateX(0%) translateZ(0);
  -ms-transform: translateX(0%) translateZ(0);
  -o-transform: translateX(0%) translateZ(0);
  transform: translateX(0%) translateZ(0);
}

.slide-left.ng-leave {
  -webkit-transition: -webkit-transform 1.4s ease-in-out;
  -moz-transition: -moz-transform 1.4s ease-in-out;
  -o-transition: -o-transform 1.4s ease-in-out;
  transition: transform 1.4s ease-in-out;
  -webkit-transform: translateX(0%) translateZ(0);
  -moz-transform: translateX(0%) translateZ(0);
  -ms-transform: translateX(0%) translateZ(0);
  -o-transform: translateX(0%) translateZ(0);
  transform: translateX(0%) translateZ(0);
}

.slide-left.ng-leave.ng-leave-active {
  -webkit-transform: translateX(-110%) translateZ(0);
  -moz-transform: translateX(-110%) translateZ(0);
  -ms-transform: translateX(-110%) translateZ(0);
  -o-transform: translateX(-110%) translateZ(0);
  transform: translateX(-110%) translateZ(0);
}

.slide-right.ng-enter {
  -webkit-transition: -webkit-transform 1.4s ease-in-out;
  -moz-transition: -moz-transform 1.4s ease-in-out;
  -o-transition: -o-transform 1.4s ease-in-out;
  transition: transform 1.4s ease-in-out;
  -webkit-transform: translateX(-110%) translateZ(0);
  -moz-transform: translateX(-110%) translateZ(0);
  -ms-transform: translateX(-110%) translateZ(0);
  -o-transform: translateX(-110%) translateZ(0);
  transform: translateX(-110%) translateZ(0);
}

.slide-right.ng-enter.ng-enter-active {
  -webkit-transform: translateX(0%) translateZ(0);
  -moz-transform: translateX(0%) translateZ(0);
  -ms-transform: translateX(0%) translateZ(0);
  -o-transform: translateX(0%) translateZ(0);
  transform: translateX(0%) translateZ(0);
}

.slide-right.ng-leave {
  -webkit-transition: -webkit-transform 1.4s ease-in-out;
  -moz-transition: -moz-transform 1.4s ease-in-out;
  -o-transition: -o-transform 1.4s ease-in-out;
  transition: transform 1.4s ease-in-out;
  -webkit-transform: translateX(0%) translateZ(0);
  -moz-transform: translateX(0%) translateZ(0);
  -ms-transform: translateX(0%) translateZ(0);
  -o-transform: translateX(0%) translateZ(0);
  transform: translateX(0%) translateZ(0);
}

.slide-right.ng-leave.ng-leave-active {
  -webkit-transform: translateX(110%) translateZ(0);
  -moz-transform: translateX(110%) translateZ(0);
  -ms-transform: translateX(110%) translateZ(0);
  -o-transform: translateX(110%) translateZ(0);
  transform: translateX(110%) translateZ(0);
}


.ngPartialSlideReveal.ng-enter {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  opacity: 0.5;
  position: relative;
  opacity: 0;
  top: 10px;
}

.ngPartialSlideReveal.ng-enter-active {
  top: 0;
  opacity: 1;
}


.slide {
   -webkit-transition: -webkit-transform .7s ease-in-out;
   -moz-transition: -moz-transform .7s ease-in-out;
   -o-transition: -o-transform .7s ease-in-out;
   transition: transform .7s ease-in-out;
   -webkit-transform: translateX(0);
   transform: translateX(0);
 }

.slide.ng-enter {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.slide.ng-enter.ng-enter-active, .slide.ng-leave {
  position: absolute;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.slide.ng-leave.ng-leave-active {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}




.resources-slide {
  -webkit-transition: -webkit-transform .7s ease-in-out;
  -moz-transition: -moz-transform .7s ease-in-out;
  -o-transition: -o-transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.resources-slide.ng-enter {
  -webkit-transform: translateX(100);
  transform: translateX(100);
}

.resources-slide.ng-enter.ng-enter-active, .resources-slide.ng-leave {
  position: absolute;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.resources-slide.ng-leave.ng-leave-active {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}





.dashboard-slide {
  -webkit-transition: -webkit-transform .7s ease-in-out;
  -moz-transition: -moz-transform .7s ease-in-out;
  -o-transition: -o-transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.dashboard-slide.ng-enter {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.dashboard-slide.ng-enter, .dashboard-slide.ng-enter-active, .dashboard-slide.ng-leave {
  position: absolute;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.dashboard-slide.ng-leave.ng-leave-active {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1;
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}



/* Calendar */

.calendarHeader{
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
}
.calendarHeader .date{
  font-size: 20px;
  text-align: center;
  color: #000;
  line-height: 28px;
  border: 1px solid #DDD;
  border-radius: 5px;
  background: #FFF;
  margin-bottom: 10px;
}
.calendarHeader .btn-group{
  margin-bottom: 10px;
  text-align: right;
}
[class*="cal-span"] {
  float: left;
  margin-left: 0;
  min-height: 1px;
}
.cal-row-fluid {
  width: 100%;
  *zoom: 1;
}
.cal-row-fluid:before,
.cal-row-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}
.cal-row-fluid:after {
  clear: both;
}
.cal-row-fluid [class*="cal-span"] {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 0%;
  *margin-left: -0.05213764337851929%;
}
.cal-row-fluid [class*="cal-span"]:first-child {
  margin-left: 0;
}
.cal-row-fluid .controls-row [class*="cal-span"] + [class*="cal-span"] {
  margin-left: 0%;
}
.cal-row-fluid .cal-span1 {
  width: 14.285714285714285%;
  *width: 14.233576642335766%;
}
[class*="cal-span"].hide,
.cal-row-fluid [class*="cal-span"].hide {
  display: none;
}
[class*="cal-span"].pull-right,
.cal-row-fluid [class*="cal-span"].pull-right {
  float: right;
}
.cal-row-head [class*="cal-span"]:first-child,
.cal-row-head [class*="cal-span"] {
  min-height: auto;
}
.cal-events-num {
  margin-top: 20px;
}
.cal-month-day {
  position: relative;
  display: block;
  width: 100%;
}
.cal-row-head [class*="cal-span"]:first-child,
.cal-row-head [class*="cal-span"] {
  font-weight: bolder;
  text-align: center;
  border: 0px solid;
  padding: 5px 0;
}
.cal-row-head [class*="cal-span"] small {
  font-weight: normal;
}
.cal-row-fluid:hover {
  background-color: #fafafa;
}
.cal-month-day {
  min-height: 75px;
}
[class*="cal-span"]:hover {
  background-color: #ededed;
}
.cal-month-box{
  background: #fff;
}
.cal-month-box [class*="cal-span"] {
  min-height: 75px;
  border-right: 1px solid #e1e1e1;
}
.cal-month-box .cal-row-fluid [class*="cal-span"]:last-child {
  border-right: 0px;
}
.cal-month-box .cal-row-fluid {
  border-bottom: 1px solid #e1e1e1;
}
.cal-month-box .cal-row-fluid:last-child {
  border-bottom: 0px;
}
.cal-month-box{
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
  border-radius: 2px;
}
span[data-cal-date] {
  font-size: 1.2em;
  font-weight: normal;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  margin-top: 10px;
  margin-right: 10px;
}
span[data-cal-date]:hover {
  opacity: 1;
}
.cal-day-outmonth{
  background: #f0f0f0;
}
.cal-day-outmonth span[data-cal-date] {
  opacity: 0.3;
  cursor: default;
}
.cal-day-weekend span[data-cal-date] {
  color: darkred;
}
.cal-day-today {
  background-color: #e8fde7;
}
.cal-day-today span[data-cal-date] {
  color: darkgreen;
}
.cal-month-box .cal-day-today span[data-cal-date] {
  font-size: 1.9em;
}
.cal-day-holiday span[data-cal-date] {
  color: #800080;
}


.cal-month-day .content{
  height: 75px;
  padding: 35px 10px 5px 10px;
  text-align: center;
  color: #111;
}

/* Maps */

.angular-google-map-container { height: 400px; }