<div class="col-md-12" ng-controller="HeaderCtrl">
<em><b>Header Partial</b></em>

    <div class="row">
        <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1"></div>
            <div class="col-lg-6 col-md-5 col-sm-11">
                <div class="nav">
                    <div>
                        <ul ng-repeat="(key, link) in links">
                            <li><a ng-href="{{link}}">{{key}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1"></div>
        <div class="col-lg-4 col-md-5 col-sm-11">
            <button ng-click="addItem()">Add Item</button>
            <button ng-click="loseItem()">Lose Item</button>
            <button ng-click="loseAllItems()">Lose All Items</button>
            <div ng-repeat="item in items">{{item}}</div>
        </div>

    </div>




</div>
