<div class="col-md-12" ng-controller="HeaderCtrl">
<em><b>Header Partial</b></em>

    <div class="row">
        <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1"></div>
            <div class="col-lg-8 col-md-8 col-sm-11">
                <nav></nav>
            </div>
        <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1"></div>
        <div class="col-lg-2 col-md-3 col-sm-11">
            <button ng-click="addItem()">Add Item</button>
            <button ng-click="loseItem()">Lose Item</button>
            <button ng-click="loseAllItems()">Lose All Items</button>
            <div ng-repeat="item in items">{{item}}</div>
        </div>

    </div>




</div>
